<script>
$(function(){
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
if (tokenitem) { window.gitlab_token = tokenitem.split('=')[1] } else { window.gitlab_token = '' }
var path = encodeURIComponent(window.location.pathname);
if (window.gitlab_token) {
    $('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
    $('#api-example').click(function() {
        $.ajax('https://gitlab.com/api/v4/projects/26683435/pipeline',{
                'data':JSON.stringify({
                    'ref': 'master',
                    'variables': [{'key':'PROJECTID', 'value':$('#projectid').val(), 'variable_type':'env_var'},{'key':'FOLDERID', 'value':$('#folderid').val(), 'variable_type':'env_var'}]
                }),
                'method':'POST',
                'headers':{
                    'Authorization': 'Bearer '+window.gitlab_token,
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                    $('#api-output').html('<b>Pipeline status is ' + output['status'] + '</b> &nbsp; <a href="' + output['web_url'] + '">View pipeline</a>');
                },
                'error':function(output) {
                    $('#api-output').html('<b>Error</b>')
                }});
        $('#pipeline-form').hide();
        $('#pipeline-after').show();
    })
} else {
    var url= "https://shivanihegde.gitlab.io/custom_pipeline_form/oauth/authorize?client_id=79ebc6d5f80a8b425833acfcbad2289794ee18a4c701da0a0c75e091a534c4bd&redirect_uri=https%3A%2F%2Fshivani1445.gitlab.io%2Fcustom_pipeline_form%2Fpage%2Fauth&response_type=code&state=STATE&scope=REQUESTED_SCOPES&code_challenge=CODE_CHALLENGE&code_challenge_method=S256";
    $('#signin').text("Sign in").prop('href',url);
    $('#api-example').click(function() {
        alert("Please sign in to GitLab at the top right before trying to access the API");
    })
}
})
</script>
